@media screen and (max-width: 780px) 
{
    nav{
        visibility: hidden;
    }
    h5{
        margin-left: 1px;
        font-size: 15px;
        margin-top:15px;
    }
    h3{
        margin-left: 1px;
        font-size: 14px;

    }
    pre{
    margin-left:-108px;  
    font-size: 10px;  
    }
    img{
        height: 300px;
    width: 250px;
    margin-left: -440px;
    margin-top: 39px;
    }
    .io{
        margin-left: 1px;
        margin-top: -380px;
        cursor: pointer;
    

    }
    .text1{
        color: rgb(141, 11, 33);
        font-weight: 900;
        margin-top: -50px;
        font-size: 13px;
    }
    .imgggie{
    visibility: hidden;
        visibility: hidden;
    }
    .ab{
        visibility: hidden;
    }
    .cv{
        visibility: hidden;
    }
    .cvsss{
        visibility: hidden;
    }

}