@media(max-width:768px){

nav{

flex-direction:column;

gap:20px;

}

.nav-links{

flex-wrap:wrap;

justify-content:center;

}

.hero{

flex-direction:column-reverse;

text-align:center;

gap:50px;

}

.hero-image img{

width:280px;
height:350px;

}

.hero-text h1{

font-size:45px;
line-height:55px;

}

.card-container{

grid-template-columns:1fr;

}

}